server:
  port: 8081

---


spring:
  profiles: development
  datasource:
    url: jdbc:postgresql://localhost:5432/ntkduy?currentSchema=ntkduy
    username: postgres
    password: Kimdung@1234
    driver-class-name: org.postgresql.Driver
server:
  port: 8081

security:
  oauth2:
    client:


spring.jpa.hibernate.ddl-auto: update
spring.jpa.properties.hibernate.default_schema: ntkduy
liquibase.default-schema: ntkduy

project.static-url: http://localhost:8081
project.base-dir: file:///D:/New%20folder%20(2)/ntkduy

# Templates reloading during development
spring.thymeleaf.prefix: ${project.base-dir}/src/main/resources/templates/
spring.thymeleaf.cache: false

# Static resources reloading during development
spring.resources.static-locations: ${project.base-dir}/src/main/resources/static/
spring.resources.cache-period: 0