<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="user-profile treeview">
                <a href="index.html">
                    <img src="../../../images/user5-128x128.jpg" alt="user"/>
                    <span>Juliya Brus</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:void()">My Profile </a></li>
                    <li><a href="javascript:void()">Logout</a></li>
                </ul>
            </li>
            <li class="nav-devider"></li>
            <li class="header nav-small-cap">PERSONAL</li>
            <li>
                <a th:href="${staticURL + '/'}">
                    <i class="fa fa-book"></i>
                    <span>Blog</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>Authentication</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="${staticURL + '/signin-page'}">Login</a></li>
                    <li><a th:href="${staticURL + '/signup-page'}">Register</a></li>
                    <li><a href="../samplepage/custom-scroll.html">Recover password</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>